:root {
    /* color scheme */
    --color-one: #bababa;
    --color-two: #8d8d8d;
    --color-three: #a6cbeb;
    --color-four: #1e5585;
    --color-five: #3a3a3a;
    --color-six: #ffffff;
    --error-color: #b60000;
    --success-color: #23b623;
}

body {
    background-color: var(--color-six);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/******************** HEADER ********************/
#header-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
#header-top #account {
    padding-top: 15px;
    padding-right: 35px;
}
#header-top #account a {
    text-decoration: none;
    color: var(--color-five);
}
#header-top #account a:hover { color: var(--color-three); }
/* NAVBAR */
#navbar {
    background-color: var(--color-five);
    padding: 8px;
    margin-top: 6px;
    list-style-type: none;
    overflow: hidden;
}
#navbar li { float: left; }
.navbar-item {
    text-decoration: none;
    color: var(--color-six);
    margin: 5px;
    padding: 0px 5px;
}
.navbar-item:hover {
    background-color: var(--color-four);
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-item:active { color: var(--color-one); }

/******************** HOME/DETAIL CONTENT ********************/
.car {
    display: flex;
    flex-direction: column;
}
/* IMAGES */
.car__image__container {
    position: relative;
    text-align: center;
}
.car__image {
    width: 90%;
    max-width: 880px;
    border-bottom: 1px solid var(--color-two);
}
.car__thumbnail__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* INFORMATION */
.car__features {
    display: inline;
    position: absolute;
    text-align: left;
    top: 10px;
    left: 40px;
}
.car__features .car__name {
    font-size: large;
    color: var(--color-four);
}
.car__features p {
    margin: 0px;
    padding: 0px;
    font-size: medium;
    color: var(--color-four);
}
#own-today {
    display: inline-block;
    border: 1px solid var(--color-five);
    color: var(--color-six);
    background-color: var(--color-four);
    width: 140px;
    height: 45px;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 10px;
}
/* REVIEWS */
.car__reviews__container { margin: 10px 25px; }
/* INFO */
.car__info__container { margin: 10px 60px; }
.car__info__container > strong,
.car__info__container > p { margin: 4px; }
/* DESCRIPTION */
.car__description {
    margin: 10px 60px;
    margin-top: 0;
    border-top: 1px solid var(--color-five);
}
/* UPGRADES */
.car__upgrades__container { margin: 10px 25px; }
.car__upgrades {
    display: grid;
    grid-template:
        "1 2"
        "3 4";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    column-gap: 8px;
}
.upgrade {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    height: 70px;
    margin: 15px 5px;
    justify-content: center;
    align-items: center;
}
.upgrade span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-four);
    border: 1px solid var(--color-two);
}
.upgrade span img {
    height: 50px;
    margin: 10px;
}
/******************** BASIC CONTENT ********************/
.content__data {
    margin: 0 10px;
    margin-top: -10px;
}
.errorMsg { color: var(--error-color); }
.loggedinMsg { color: var(--success-color); }
/* .successMsg {} */
.alt-form { font-size: 20px; }
.alt-form-link { color: var(--color-five); }
.alt-form-link:hover { color: var(--color-three); }

/******************** CLASSIFICATION CONTENT ********************/
.inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}
.inv-display hr {
    width: 97%;
    border: 3px solid var(--color-five);
}
.inv-display li {
    margin-bottom: .5em;
    border: 1px var(--color-one) solid;
    list-style-type: none;
    flex: 1 1 auto;
    text-align: center;
}
.inv-display li img {
    min-width: 70%;
    max-width: 100%;
}

/******************** TABLES ********************/
table { border-collapse: collapse; }
table th, td {
    text-align: left;
    padding: 4px;
    border: 1px solid var(--color-five);
}
tbody tr:hover { background-color: var(--color-one); }

/* USER TABLE */
#userDataTable th { min-width: 100px; }
#userDataTable td { min-width: 250px; }

/* VEHICLE MGMT TABLE */
#inventoryDisplay { margin: 12px; }

#inventoryDisplay thead tr { border: 1px solid var(--color-five); }
#inventoryDisplay thead th { border: none; }
.noshow { display: none; }

.invDisplayName { min-width: 250px; }
.invDisplayLink {
    min-width: 60px;
    text-align: center;
}
.invDisplayLink a {
    background-color: var(--color-three);
    border: 1px solid var(--color-four);
    border-radius: 5px;
    padding: 1px 4px;
    color: black;
    text-decoration: none;
}
.invDisplayLink a:hover {
    background-color: var(--color-four);
    color: var(--color-six);
}

/******************** IMAGE UPLOAD CONTENT ********************/
#image-display {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
#image-display li {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 70%;
    padding: 6px;
    border-top: 1px solid var(--color-two);
}
#image-display a {
    background-color: var(--color-three);
    border: 1px solid var(--color-four);
    border-radius: 5px;
    padding: 1px 4px;
    color: black;
    text-decoration: none;
}
#image-display a:hover {
    background-color: var(--color-four);
    color: var(--color-six);
}

/******************** FORMS ********************/
.form { max-width: 400px; }
.form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.form li {
    display: block;
    padding: 9px;
    border: 1px solid var(--color-five);
    margin-bottom: 20px;
    border-radius: 3px;
}
.form li:last-child {
    border: none;
    margin-bottom: 0px;
    text-align: center;
}
label, legend {
    display: block;
    float: left;
    margin-top: -17px;
    height: 16px;
    padding: 5px 0px;
    color: var(--color-four);
    overflow: hidden;
}
legend {
    margin-top: -20px;
    margin-left: -14px;
}
.form input:not([type="radio"]), .form select {
    box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0px;
}
fieldset { border: none; }
fieldset label {
    color: black;
}
.radio-input {
    display: flex;
    flex-flow: row;
    align-items: baseline;
}
.form select option[data-default] { color: var(--color-two); }
.form textarea {
    box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 55px;
    line-height: 25px;
    font-size: 16px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form .dollar {
    display: inline;
    width: 96.5%;
}
.form li > .hint {
    background-color: var(--color-one);
    display: block;
    border: none;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    border-radius: 0px 0px 3px 3px;
    color: #3a3a3a;
    font-size: 11px;
}
#showPass:hover {
    background-color: var(--color-two);
    cursor: pointer;
}
.submit:not([disabled]) {
    background-color: var(--color-four);
    color: var(--color-six);
}
.submit:hover, .submit:disabled { color: var(--color-one); }
.form li input:not(:placeholder-shown):not(:focus):invalid { border: 1px solid var(--error-color); }
.form li input:not([type="submit"]):valid { border: 1px solid var(--success-color); }

/* ADDITIONAL FORM CONTENT */
#classificationList {
    margin-left: 15%;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
}

/******************** FOOTER ********************/
footer {
    text-align: center;
    font-size: small;
    padding-bottom: 12px;
}
footer hr {
    border: 2px solid var(--color-five);
    background-color: var(--color-five);
}

/******************** MEDIUM SCREEN ********************/
@media (min-width: 850px) {
    /* CAR DETAILS PAGE */
    .car:not([class*="home-page"]) {
        display: grid;
        grid-template:
            "image info"
            "image description"
            "image .";
        grid-template-columns: 70% 30%;
    }
    /* INFO */
    .car__info__container { grid-area: info; }
    /* DESCRIPTION */
    .car__description {
        grid-area: description;
        border-top: none;
        padding-right: 60px;
        margin-right: 0;
    }
}

/******************** BIG SCREEN ********************/
@media (min-width: 620px) {
    html {
        background-image: url("../images/site/small_check.jpg");
        background-attachment: fixed;
        display: flex;
        justify-content: center;
    }
    body {
        margin: 5px 20px 0px 20px;
        border: 4px solid var(--color-four);
        border-radius: 7px;
        max-width: 90%;
    }

    /***** CONTENT *****/
    /* HOMEPAGE */
    .car.home-page {
        display: grid;
        grid-template:
            "image image"
            "upgrade review";
        grid-template-columns: 50% 50%;
        column-gap: 10px;
    }
    /* IMAGE CONTAINER */
    .car__image__container {
        grid-area: image;
        border-right: 1px solid var(--color-five);
        padding-right: 40px;
    }
    .car__thumbnail__container--header {
        visibility: hidden;
        height: 0;
        padding: 0;
        margin: 0;
    }
    .car__thumbnail__container { flex: row wrap; }
    .car__thumbnail:hover {
        position: relative;
        top: -25px;
        left: -60px;
        width: 400px;
        height: auto;
        display: block;
        z-index: 999;
        border: 1px solid var(--color-five);
    }
    #own-today {
        position: absolute;
        top: 100px;
        left: 40px;
        width: 120px;
        height: 35px;
        font-size: medium;
    }
    /* REVIEWS */
    .car__reviews__container { grid-area: review; }
    /* UPGRADES */
    .car__upgrades__container { grid-area: upgrade; }

    /***** VEHICLES CONTENT *****/
    .inv-display {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .inv-display h2 { font-size: 1rem; }
    .inv-display li {
        max-width: 200px;
        max-height: 250px;
        margin: 0 2px;
        flex: 1 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
    }
    .inv-display li a { margin-bottom: auto; }

    /***** IMAGE UPLOAD CONTENT *****/
    #image-display { flex-flow: row wrap; }
    #image-display li {
        width: 45%;
        border-top: none;
    }
}